body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  flex-direction: column;
  text-align: center;
  background: url(res/sfondo.jpg) no-repeat center center; /* Aggiunto no-repeat e center */
  background-size: cover; /* Aggiunto cover per mantenere le proporzioni dell'immagine */
  background-size: contain
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

.btn-access {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
