body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-image: url(res/sfondo_benvenuto.jpg);
  background-position: center;
  background-size: cover;
}

div {
  background-size: cover;
}

h1 {
  font-size: 2.8rem;
  color: #333;
  background-color: white;
  border: 1px solid #333;
  padding: 8px;
  text-decoration: underline;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
}

.btn-access {
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
