body {
  font-family: Arial, sans-serif;
  background-image: url(res/sfondo.jpg);
  background-size: 100vw 100vh;
}
.headLunedi {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: #333;
  color: white; /* Colore del testo */
  border: 1px solid white;
  display: inline-block; /* Adatta la dimensione del contenitore al testo */
  text-align: center; /* Centra il testo orizzontalmente */
  padding: 10px; /* Spazio interno per maggiore leggibilità */
  border-radius: 4px;
}

.Bmodifica {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(227, 213, 24);
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.Bindietro {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(243, 5, 5);
  color: #333;
}
li {
  list-style-type: none;
}
.exercise {
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: white;
}

.div-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  gap: 5px;
}
.exercise-checkbox {
  transform: scale(1.5);
  cursor: pointer;
}

#exercise-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.3s ease;
}
/* Bottoni per il carosello */
.carousel-button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-100%); */
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.carousel-button.left {
  left: 10x;
}
.carousel-button.right {
  right: 7px;
}
#reset-button {
  margin-top: 20px;
  border-radius: 4px;
  transform: scale(1.5);
  margin-left: 15px;
  color: rgb(0, 0, 0);
}
