.headLunedi {
  display: flex;
  justify-content: center;
}

.Bmodifica {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(227, 213, 24);
}

.contButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
