body {
  font-family: Arial, sans-serif;
  background-image: url(res/sfondo.jpg);
  background-size: 100vw 100vh;
}
.headVenerdi {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  background-color: #333;
  color: white; /* Colore del testo */
  border: 1px solid white;
  display: inline-block; /* Adatta la dimensione del contenitore al testo */
  text-align: center; /* Centra il testo orizzontalmente */
  padding: 10px; /* Spazio interno per maggiore leggibilità */
  border-radius: 4px;
}

.Bmodifica {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(227, 213, 24);
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.Bindietro {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(243, 5, 5);
  color: #333;
}
li {
  list-style-type: none;
}
.exercise {
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: white;
}

.div-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  gap: 5px;
}
.exercise-checkbox {
  transform: scale(1.5);
  cursor: pointer;
}
#exercise-carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.carousel-slide {
  flex: 0 0 100%; /* Ogni slide occupa il 100% della larghezza */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transizioni per opacità e movimento */
  min-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  transition: transform 0.3s ease;
}
/* Bottoni per il carosello */
.carousel-button {
  position: absolute;
  top: 50%;
  /* transform: translateY(-100%); */
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
.carousel-button.left {
  left: 10x;
}
.carousel-button.right {
  right: 7px;
}
#reset-button {
  margin-top: 20px;
  border-radius: 4px;
  transform: scale(1.5);
  margin-left: 15px;
  color: black;
}

.exercise-list {
  overflow: hidden;
  position: relative;
}

/* Aggiungi un'animazione per l'apparizione delle slide */
.carousel-slide-enter {
  opacity: 0;
  transform: translateX(100%); /* La slide entra da destra */
}

.carousel-slide-enter-active {
  opacity: 1;
  transform: translateX(0); /* La slide si sposta nella posizione finale */
}

.carousel-slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.carousel-slide-exit-active {
  opacity: 0;
  transform: translateX(-100%); /* La slide esce a sinistra */
}

.div-timer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: black;
  padding: 40px;
  padding-top: 0;
}
.exercise-timer {
  color: yellow;
  font-size: x-large;
  font-weight: 700;
  width: 100px;
  align-self: center;
}
.start-timer-button {
  margin-top: 13px;
  width: 100px;
  font-weight: 700;
  align-self: center;
}
